* {
  box-sizing: border-box;
  margin: 0;
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 18px;
  margin: 0.4rem 0;
}

h2,
h3 {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: 100;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.menu-burger {
  padding-top: 0.6rem;
  margin-right: 1rem;
}

.menu-burger-img {
  width: 18px;
}

.youtube-logo {
  width: 100px;
}

.search-input {
  border-radius: 25px 0px 0px 25px;
}

.mic-img-div {
  margin-left: 1rem;
}

.mic-img {
  height: 40px;
  border-radius: 50%;
}

.cam-img {
  width: 20px;
}

.notif-img {
  width: 20px;
}

.notif-img-div {
  margin: 0rem 2rem;
}

.profile-picture-icon {
  width: 20px;
}

.search-input {
  border: solid #222222;
  padding: 1rem;
}

.search-btn {
  border: none;
  background-color: #222222;
  border-radius: 0px 25px 25px 0px;
  padding-right: 1rem;
}

.search-btn-icon {
  width: 20px;
}

.input-btn {
  display: flex;
  height: 40px;
}

.logo-menu,
.input-btn,
.user-icons {
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-img {
  width: 250px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.filter-buttons {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

.all,
.cute,
.goofy,
.love,
.gang,
.view,
.autor {
  background-color: #272727;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  border: none;
  font-size: small;
  font-weight: bold;
}

.lateral-menu-and-card-container {
  display: flex;
}

.home-svg,
.shorts-svg,
.subscribe-svg,
.you-svg {
  margin: 1rem 1.8rem;

  width: 24px;
  height: 24px;
}

.lateral-menu-text {
  text-align: center;
  font-size: 10px;
}

.lateral-menu-and-card-container > * {
  margin: 0 0.5rem;
}

.home-img-and-text:hover,
.shorts-img-and-text:hover,
.subscriptions-img-and-text:hover,
.you-img-and-text:hover {
  border-radius: 20%;
  background-color: #272727;
}
